@use 'sass:math';

/// Function to strip units from a value
/// ref: https://stackoverflow.com/questions/12328259/how-do-you-strip-the-unit-from-any-number-in-sass
/// @param {number} $value - The value with or without units
/// @return {number} - The unitless value
@function strip-unit($value) {
  @if math.is-unitless($value) {
    @return $value;
  }
  @return math.div($value, $value * 0 + 1);
}

/// Mixin to set a CSS property using rem units converted from px.
/// @param {string} $pixel - The pixel value i.e, accepts 16px or 16.
/// Example usage
// @include px-to-rem(font-size, 24); --> Outputs: font-size: 1.5rem;
@function px-to-rem($pixel){
  $unitless-value: strip-unit($pixel);
  @return math.div($unitless-value, 16) + rem;
}