<div class="welcome-page-container-grid">
  <mat-toolbar>
    <span>Y & S</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  <div class="welcome-page-content">
    <div class="welcome-page-title-container">
      <h1 class="title title-row-1">Welcome to</h1>
      <h1 class="title title-row-2">Yahya and Suha's</h1>
      <h1 class="title title-row-3">Reception</h1>
    </div>
    <button mat-raised-button color="primary" routerLink="/photobooth">Enter Photo Booth</button>
  </div>
  <div class="welcome-page-footer">
    <p>© 2025 Dada Web Productions</p>
  </div>
</div>
